colours = {
  current_line = "rgb(200,200,200)"
  link_line    = "rgb(180,180,180)"
  default_border = "rgba(140,0,26,128)"
  new_border = "rgba(255,255,153,128)"
  default_background = seashell
  default_foreground = black
 }

settings = {
  connector_background = no
}

connectors = {
  default = {
    colour = "#0080FF"
    line_width = 2
    arrow_length = 8
    arrow_width = 4
    style = bezier
    }
  }